DOMAINConfig {
    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
        userProvider="ldap://HOST.DOMAIN.com/dc=DOMAIN,dc=com ldap://HOST.DOMAIN.com/dc=DOMAIN,dc=com ldap://HOST.DOMAIN.com/dc=DOMAIN,dc=com"
        userFilter="(&(sAMAccountName={USERNAME})(objectClass=user)(cn=svc_jmx_atlassian))"
        authzIdentity=monitorRole
        java.naming.security.principal="svc_jmx_atlassian"
        java.naming.security.credentials=dpzao18mq6Pb8c1597130qy5yux1r0vozlsh2rgsdfwerctgfdswrt67h70ih42
        useSSL=true
        ;

    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
        userProvider="ldap://HOST.DOMAIN.com/dc=DOMAIN,dc=com ldap://HOST.DOMAIN.com/dc=DOMAIN,dc=com ldap://HOST.DOMAIN.com/dc=DOMAIN,dc=com"
        userFilter="(&(sAMAccountName={USERNAME})(objectClass=user)(memberOf=cn=wiki-admins,ou=Atlassian,ou=Groups,dc=DOMAIN,dc=com))"
        authzIdentity=controlRole
        java.naming.security.principal="svc_jmx_atlassian"
        java.naming.security.credentials=dpzao18mq6Pb8c1597130qy5yuxsadfsdfsgssadfs1r0vozlsh267h70ih42
        useSSL=true
        ;
    };
